:root {
    --colour: #52322B;
    --font-heading: serif;
    --font-text: sans-serif; 
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
    /* outline: 1px solid red !important;  /* Debugging */
    
    scrollbar-width: none;
}


html, body {
    width: 100%;
    height: 100%;
    font-family: var(--font-text);
    color: var(--colour);
    user-select: none;
}

section {    
    width: 100%;
    height: 100lvh;
    position: relative;
    z-index: 0;
    overflow: hidden;
}



/* Loading screen */

.loader {
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: 20;
    background-color: #BED7E6;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2em;
    font-size: 12px;
   
    /* .progress {
        position: absolute;
        top: 60%;
        width: 50%;
        height: 1px;
        background: var(--colour);
        transform: scaleX(0);
        transition: transform 1s;
        transform-origin: left;
        z-index: 10;
        margin: 0 5%;
    } */
}



/* Header */

header {
    width: 100%;
    position: fixed;
    z-index: 10;
    display: flex;
    justify-content: center;

    .header-container {
        width: 80vw; 
        margin-top: 40px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .header-brand {
            font-weight: 250;
            font-size: 1.5625rem;
            line-height: 100%;
        }
    
        .header-menu {
            list-style: none;
            display: inline-flex;
            align-items: center;
            gap: 0.2em;
    
            li {
                padding: 10px 30px;
                cursor: pointer;
                transition: all 0.4s ease-in-out;
    
                &:hover {
                    color: #336EBB;
                    svg {
                        path {
                            stroke: #336EBB;
                            fill: #336EBB;
                        }
                    }
                }
            }
    
            a {
                font-size: 0.8125rem;
                text-decoration: none;
                transition: all 0.4s ease-in-out;
            }
        }
    }
}



/* Hero */

.hero-container {
    background: radial-gradient(circle, #BED7E6 30%, #a9caf5 100%);

    #hero-canvas {
        width: 100%;
        height: 100%;
        touch-action: none;
        pointer-events: none;
    }

    .intro-container {
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 10;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
        .intro-content {
            width: 100%;
            margin-right: 30%;
            h1 {
                font-family: var(--font-heading);
                font-weight: 400;
                font-size: 6.25rem;
                line-height: 100%;
                letter-spacing: -0.04em;
                text-align: right;
                margin-bottom: 40px;
            }
            p {
                font-weight: 200;
                font-size: 0.813rem;
                text-align: right;
                margin-bottom: 30px;
            }
        }
    }
    
    .instruction-container {
        width: 50%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 10;
        opacity: 0;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        
        .instruction-content {
            width: 100%;
            margin-left: 30%;
            h1 {
                font-family: var(--font-heading);
                font-weight: 400;
                font-size: 6.25rem;
                line-height: 100%;
                letter-spacing: -0.04em;
                text-align: left;
                margin-bottom: 40px;
            }
            p {
                font-weight: 200;
                font-size: 0.813rem;
                text-align: left;
                margin-bottom: 30px;
            }
        }
    }
}


#ski-container {
    width: 100%;
    height: 100lvh;
    position: relative;
    background-color: #E6BFBE;

    #ski-canvas {
        width: 100%;
        height: 100%;
        touch-action: none;
        pointer-events: none;
    }
}





#ski {
    width: 80%;
    height: 80%;
    display: block;
    margin: 0 auto;
}